/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*=================================================

                        body

===================================================*/

body {
  background: url("../images/bg-intro-mobile.png") 0 0 no-repeat, hsl(0, 100%, 74%);
  background-attachment:fixed;
  background-size: cover;
  padding: 10% 5%;
  text-align: center;
  max-width:100%;
  height:auto;
  font-family: "Poppins", sans-serif;
}

/*=================================================

                        typography

===================================================*/

h1,
p {
  color: #fff;
}
h1{
  font-size: 1.2em;
  font-weight: 600;
}
p{
  font-size: .8em;
}
label{
  font-size: .6em;
}
strong{
  font-weight: bold;
}

/*=================================================

                        header

===================================================*/

h1{
  margin: 5% auto;
  padding: 0 15%;
}
header p{
  margin: 5% auto;
}

/*=================================================

                        section

===================================================*/

section{
  margin: 5% auto;
  background:hsl(248, 32%, 49%);
  border-radius: 10px;
}
section p{
  padding: 5% 15%;
  line-height: 1.5;
}

/*=================================================

                        form

===================================================*/

form{
  background: #fff;
  border-radius: 10px;
  padding: 8% 7%;
}
input{
  width:98%;
  margin: 3% auto;
  height: 30px;
  border-radius: 5px;
  border: solid 1px hsl(246, 25%, 77%);
}
label {
  color: hsl(246, 25%, 77%);
}
label strong {
  color: hsl(0, 100%, 74%);
}

/*=================================================

                        button

===================================================*/

.button{
 margin: 5% auto;
 width:100%;
 height: 50px;
 color: #fff;
 background: hsl(154, 59%, 51%);
 border: 0;
}

/*=================================================

                        @media query

===================================================*/

@media (min-width: 375px) {
  body{
    background: url("../images/bg-intro-desktop.png") 0 0 no-repeat, hsl(0, 100%, 74%);
  }
  .grid,
  header{
    display: inline-block;
    width: 47%;
  }
  header{
    position:relative;
    vertical-align:top;
    margin-top: 18%;
    margin-right: 3%;
  }
  h1{
    font-size: 2em;
  }
  p{
    font-size: 1.2em;
  }
  .button{
   width:100%;
   height: 70px;
   font-size: 18px;
  }
  input{
    height: 45px;
  }
  label{
    font-size: .8em;
  }
}
